
.navigationbar {
    background-color: rgba(255, 0, 0, 0.488);
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'serif', sans-serif;
    color: black;
  }
.botonColor{
    background-color: rgba(255, 0, 0, 0.488);
    color: white;
}
.imagenesShow{
    max-width:350px;
    max-height:350px;
    
}

