.pagination-container {
    text-align: center;
}

.pagination li a {
    color: #000;
}

.pagination li.active a {
    background-color: #000;
    color: #fff;
}

.pagination li.disabled span {
    color: #999;
}

.pagination li.active span {
    color: #000;
}
